* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */         
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.slide-menu {
    text-align: center;
}

.menu-logo {
    height: 100px;
    padding-top: 1em;
    margin-left: 0; 
}

.avatar-img {
    height: 350px;
    padding-top: 2em;

}

.banner-text {
    width: 100%;
    margin: auto;
}

.banner-text h1 {
    font-size: 66px;
    color: white;
    margin: 0;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    padding-top: 1em; 
    font-size: 1.5em;
    color: white;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i {
    color: white;
    font-size: 4em;
    padding: 10px;
}

/* Projects site */

.projects-grid {
    display: flex;
}

.category-tabs a {
    color: white;
}